{% extends "clean/base.html" %}
{% load static %}
{% block title %}Login da Clean{% endblock %}

{% block conteudo %}
<div class="row justify-content-center">
	<div class="col-sm-12">
		<div class="row justify-content-center">
				<img src="{% static 'clean/img/logo.png' %}" class="img-fluid">
		</div>
	</div>
	<div class="col-sm-4 p-5 bg-light">
		{% if next %}
		<form action="?next={{next}}" method="post">
		{% else %}
		<form action="" method="post">
		{% endif %}
		{% csrf_token %}
		  	<div class="form-group">
		    	<label for="loginInput">Login</label>
		    	<input type="text" name="username" class="form-control" id="loginInput" aria-describedby="loginHelp" placeholder="Seu CPF ou CNPJ">
		    	<small id="loginHelp" class="form-text text-muted">Não compartilhe seu login ou sua senha.</small>
		  	</div>
		  	<div class="form-group">
		    	<label for="loginPassword">Senha</label>
		    	<input type="password" name="password" required class="form-control" id="loginPassword" placeholder="Digite sua senha...">
			</div>
			<div class="row justify-content-center">
				<input type="submit" class="btn btn-primary" value="Entrar" />
			</div>
		</form>
	</div>
</div>


{% endblock %}