{% extends "clean/base.html" %}
{% load static %}
{% block title %}Login da Clean{% endblock %}

{% block conteudo %}
<div class="row" style="background-image: url('{% static 'clean/img/solarpanel.jpg' %}'); background-repeat: no-repeat; background-size: 100vw 100vh; width: 100vw; height: 100vh">
	<div class="col-md-4 d-flex shadow-lg bg-light" style="opacity:0.95;">
		<div class="row align-self-center justify-content-center">
			<div class="col-8">
				<img src="{% static 'clean/img/logo.png' %}" class="img-fluid" alt="Logo Clean">
			</div>
			<div class="col-12 d-flex justify-content-center pl-5 pr-5">
				{% if next %}
				<form action="?next={{next}}" id="loginForm" method="post" style="width:100%">
				{% else %}
				<form action="" method="post" id="loginForm" style="width:100%">
				{% endif %}
				{% csrf_token %}
				{% if form.non_field_errors %}
					<div class="alert alert-danger" role="alert">
  					{% for error in form.non_field_errors %}
        				{{ error }}<br>
      				{% endfor %}
      				{% for hidden_field in form.hidden_fields %}
					    {% if hidden_field.errors %}
					    	{% for error in hidden_field.errors %}
					    	(Hidden field {{ hidden_field.name }}) {{ error }}<br>
					   		{% endfor %}
						{% endif %}
						{{ hidden_field }}
					{% endfor %}
					</div>
				{% endif %}
				{% for field in form.visible_fields %}
					<div class="form-group">
		    			<label for="{{field.id_for_label}}">{{field.label}}</label>
		    			<input type="{{field.html_name}}" name="{{field.name}}" class="form-control {% if field.errors %}is-invalid{% endif %}" id="{{field.id_for_label}}" aria-describedby="{{field.name}}Help" placeholder="{{field.label}}" value="{% if field.value %}{% if field.html_name != 'password' %}{{field.value}}{% endif %}{% endif %}">
		    			{% if field.errors %}
		    			<div class="invalid-feedback">
        					{% for error in field.errors %}
        					<li>{{ error }}</li>
        					{% endfor %}
      					</div>
      					{% endif %}
		    			<small id="{{field.name}}Help" class="form-text text-muted text-right">{{field.help_text}}</small>
		    			{% if field.html_name == 'password' %}
		    			<small id="esqueceuSenha" class="form-text text-muted text-right"><a href="{% url 'accounts_password_reset_confirm' %}">Esqueceu sua senha?</a></small>
		    			{% endif %}
		    			
		  			</div>
		  		{% endfor %}
					<div class="row justify-content-center">
						<button class="btn btn-primary" id="enter">Entrar</button>
					</div>
				</form>
			</div>
			<div class="col-12 mt-5">
				<small id="colaborador" class="form-text text-muted text-center"><a href="{% url 'admin_login' %}">Acessar área de colaborador?</a></small>
			</div>
		</div>
	</div>
	

</div>
<script>
	$(document).ready(function(){

		$('#id_username').attr('placeholder', "Digite seu CPF ou CNPJ");
		$('#usernameHelp').html('Somente números')
		$('#id_password').attr('placeholder', "Digite sua senha");
		var options =  {
  			onKeyPress: function(username, e, field, options) {
    			var masks = ['000.000.000-00Z', '00.000.000/0000-00'];
    			var mask = (username.length<15) ? masks[0] : masks[1];
    			$('#id_username').mask(mask, options);
			},
			translation: {
				Z:{pattern: /[a-zA-Z0-9]/, optional: true},
			},
		};
		
    	$('#id_username').mask('000.000.000-00Z', options);
    	$('#enter').on('click', function(){
    		$('#id_username').val($('#id_username').cleanVal());
    		$('#loginForm').submit()
    	})
	
	});
</script>


{% endblock %}