{% extends "clean/base.html" %}
{% load static %}
{% block title %}Recuperar Senha{% endblock %}

{% block conteudo %}
<div class="row d-flex justify-content-center">
	<div class="col-sm-10 col-md-4">
		<img src="{% static 'clean/img/logo.png' %}" class="img-fluid" alt="Logo Clean">
		<div class="alert alert-success mt-2" role="alert">
			<strong>Email enviado para {{email}}!</strong> Verifique a sua caixa de spam caso não receba o e-mail dentro de instantes.<br><br>
			Para retornar a tela de login <a href="{% url 'login' %}">clique aqui.</a>
		</div>
	</div>
</div>


{% endblock %}