{% extends "clean/base.html" %}
{% load static %}
{% block title %}Recuperar Senha{% endblock %}

{% block conteudo %}
<div class="row d-flex justify-content-center ">
	<div class="col-sm-10 col-md-4 mt-5 bg-light">
		<form action="" method="post" id="recoveryForm">
			<div class="d-flex justify-content-center">
				<div class="col-8">
					<img src="{% static 'clean/img/logo.png' %}" class="img-fluid" alt="Logo Clean">
				</div>
			</div>
			<div class="tab-content" id="reset-tab">
			
				{% csrf_token %}
				<div class="tab-pane fade show active" id="pills-check" role="tabpanel">
					<div class="form-group">
						<label for="code">Código verificador: </label>
						<input type="password" class="form-control" id="code" name="code" placeholder="Digite o código de verificação">
						<small id="codeHelp" class="form-text text-muted text-right">Digite o código de recuperação de senha enviado por e-mail.</small>
					</div>
					<div class="alert alert-{{type}} mt-5" role="alert">
  						{{message|safe}}
					</div>
					<ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
						<li class="nav-item">
							<a class="nav-link bg-primary text-white" id="pill-next" data-toggle="pill" href="#pills-password" role="tab" aria-controls="pills-next" aria-selected="true">Continuar</a>
						</li>
					</ul>
				</div>
				<div class="tab-pane fade" id="pills-password" role="tabpanel">
					<div class="form-group">
						<label for="password1">Nova senha: </label>
						<input type="password" class="form-control" id="password1" name="password1" placeholder="Digite uma nova senha">
						<small id="pass1Help" class="form-text text-muted text-right">Digite sua nova senha</small>
					</div>
					<div class="form-group">
						<label for="password2">Confirmação: </label>
						<input type="password" class="form-control" id="password2" name="password2" placeholder="Repita a senha que você criou">
						<small id="pass2Help" class="form-text text-muted text-right">Redigite sua senha de forma idêntica a anterior.</small>
					</div>
					<div class="col-12 text-center mb-5">
						<button type="submit" class="btn btn-primary" id="redefinir">Redefinir</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
	$(document).ready(function(){
  		$('#code').mask('AAAAAA');
  	});
</script>


{% endblock %}