{% extends "clientes/clientes_base.html" %}
{% load static %}
{% block title %}Informações de Geração{% endblock %}

{% block sidemenu %}
		<div class="list-group">
			<a class="list-group-item list-group-item-action text-center color-clean-azul">Período</a>
		  	<a class="list-group-item list-group-item-action bg-azul-clean text-white" data-toggle="collapse" href="#Menu1" role="button" aria-expanded="false" aria-controls="Menu1">Dias</a>
		  	<div id="Menu1" class="collapse d-lg-none">
		  		<div class="list-group bg-azul-light">
		  			<a href="?data=hoje" class="list-group-item list-group-item-action">Hoje</a>
		  			<a href="?data=7d" class="list-group-item list-group-item-action">7 Dias</a>
		  			<a href="?data=15d" class="list-group-item list-group-item-action">15 Dias</a>
		  		</div>
		  	</div>
		  	<a class="list-group-item list-group-item-action bg-azul-clean text-white" data-toggle="collapse" href="#Menu2" role="button" aria-expanded="false" aria-controls="Menu2">Meses</a>
		  	<div id="Menu2" class="collapse d-lg-none">
		  		<div class="list-group bg-azul-light">
		  			<a href="?data=1m" class="list-group-item list-group-item-action">1 Mês</a>
		  			<a href="?data=3m" class="list-group-item list-group-item-action">3 Meses</a>
		  			<a href="?data=6m" class="list-group-item list-group-item-action">6 Meses</a>
		  		</div>
		  	</div>
		  	<a class="list-group-item list-group-item-action bg-azul-clean text-white" data-toggle="collapse" href="#Menu3" role="button" aria-expanded="false" aria-controls="Menu3">Anos</a>
		  	<div id="Menu3" class="collapse d-lg-none">
		  		<div class="list-group bg-azul-light">
		  			<a href="?data=1a" class="list-group-item list-group-item-action">1 Ano</a>
		  			<a href="?data=5a" class="list-group-item list-group-item-action">5 Anos</a>
		  			<a href="?data=10a" class="list-group-item list-group-item-action">10 Anos</a>
		  		</div>
		  	</div>
		</div>
		<div class="list-group mt-3">
		  	<a class="list-group-item list-group-item-action text-center color-clean-azul">Geradoras</a>
		  	<a href="?ug=UG209493288633" class="list-group-item list-group-item-action bg-azul-clean text-white">UG209493288633</a>
		  	<a href="?data=7d" class="list-group-item list-group-item-action bg-azul-clean text-white">UG309493288633</a>
		  	<a href="?data=15d" class="list-group-item list-group-item-action bg-azul-clean text-white">UG409493288633</a>
		</div>

{% endblock %}


{% block conteudo %}
<div class="row" style="position:fixed; top:0; left:0; width:100%; min-height: 100vh">
	<div class="col-lg-3 bg-azul-clean d-none d-lg-block" style="padding-top:80px;">
		<div class="list-group ml-2 mt-3">
			<a class="list-group-item list-group-item-action text-center color-clean-azul">Período</a>
		  	<a class="list-group-item list-group-item-action bg-azul-clean text-white" data-toggle="collapse" href="#Menu2-1" role="button" aria-expanded="false" aria-controls="Menu2-1">Dias</a>
		  	<div id="Menu2-1" class="collapse">
		  		<div class="list-group bg-azul-light">
		  			<a href="?data=hoje" class="list-group-item list-group-item-action">Hoje</a>
		  			<a href="?data=7d" class="list-group-item list-group-item-action">7 Dias</a>
		  			<a href="?data=15d" class="list-group-item list-group-item-action">15 Dias</a>
		  		</div>
		  	</div>
		  	<a class="list-group-item list-group-item-action bg-azul-clean text-white" data-toggle="collapse" href="#Menu2-2" role="button" aria-expanded="false" aria-controls="Menu2-2">Meses</a>
		  	<div id="Menu2-2" class="collapse">
		  		<div class="list-group bg-azul-light">
		  			<a href="?data=1m" class="list-group-item list-group-item-action">1 Mês</a>
		  			<a href="?data=3m" class="list-group-item list-group-item-action">3 Meses</a>
		  			<a href="?data=6m" class="list-group-item list-group-item-action">6 Meses</a>
		  		</div>
		  	</div>
		  	<a class="list-group-item list-group-item-action bg-azul-clean text-white" data-toggle="collapse" href="#Menu2-3" role="button" aria-expanded="false" aria-controls="Menu2-3">Anos</a>
		  	<div id="Menu2-3" class="collapse">
		  		<div class="list-group bg-azul-light">
		  			<a href="?data=1a" class="list-group-item list-group-item-action">1 Ano</a>
		  			<a href="?data=5a" class="list-group-item list-group-item-action">5 Anos</a>
		  			<a href="?data=10a" class="list-group-item list-group-item-action">10 Anos</a>
		  		</div>
		  	</div>
		</div>
		<div class="list-group ml-2 mt-3">
		  	<a class="list-group-item list-group-item-action text-center color-clean-azul">Geradoras</a>
		  	<a href="?ug=UG209493288633" class="list-group-item list-group-item-action bg-azul-clean text-white">UG209493288633</a>
		  	<a href="?data=7d" class="list-group-item list-group-item-action bg-azul-clean text-white">UG309493288633</a>
		  	<a href="?data=15d" class="list-group-item list-group-item-action bg-azul-clean text-white">UG409493288633</a>
		</div>
	</div>
	<div class="col-lg-9" style="padding-top:80px">
			<div class="row">
				<div id="cardEnergia" class="col-md-4">

				</div>
				<div id="card" class="col-md-4">

				</div>
				<div class="col-md-4">

				</div>
			</div>
	</div>
</div>

{% endblock %}