{% extends "clientes/clientes_base.html" %}
{% load static %}
{% load l10n %}
{% block title %}Informações de Geração{% endblock %}

{% block navbar %}
<nav class="navbar navbar-dark top-fixed bg-azul-clean navbar-expand-lg">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	<span class="navbar-brand mb-0 h1 text-white">
    	<img src="{% static 'clean/img/navlogo.png' %}" height="40" alt="Clean Energy Solutions">
  	</span>

  
{% block navs %}
	<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin/">Admin Django</a>
      </li>
    </ul>
  </div>
{% endblock %}

	<div class="ml-auto">
  		<a class="navbar-text text-warning">
      		<span class="d-lg-none"><i class="fas fa-user-circle fa-lg"></i> {{user.nome}}</span>
      		<span class="d-none d-lg-block"><i class="fas fa-user-circle fa-lg"></i> {{user.nome}} {{user.sobrenome}}</span>
  		</a>
  		<a href="/logout/" class="navbar-text ml-3 nav-link text-white">
      		<i class="fas fa-sign-out-alt fa-lg" style="color:Tomato"></i> Sair
  		</a>
  	</div>
</nav>

{% endblock %}

{% block conteudo %} 
<div class="row d-flex justify-content-around">
	<div class="col-8">
		<table class="table">
		  	<thead>
		    	<tr>
		      		<th scope="col">Identificador</th>
		      		<th scope="col">Nome</th>
		      		<th scope="col">Cidade</th>
		    	</tr>
		  	</thead>
		  	<tbody>
		  		{% for cliente in clientes %}
			  	<tr>
	      			<td><a href="{% url 'controle_cliente_geracao' cliente.user.pk %}">{{cliente.user.pk}}</a></td>
	      			<td>{{cliente.nome}}</td>
	      			<td>{{cliente.cidade}}</td>
	    		</tr>
    			{% endfor %}
    		</tbody>
    	</table>
    </div>
</div>


{% endblock %}

{% block scripts %}
		
{% endblock %}