@font-face {
     font-family: "Ubuntu";
     src: local("Ubuntu"), local("Ubuntu Regular"), url("/static/clean/ubuntu/Ubuntu-Regular.tff");
     font-style: normal
     font-weight: normal
}
@font-face {
     font-family: "Ubuntu";
     src: local("Ubuntu"), url("/static/clean/ubuntu/Ubuntu-Bold.tff");
     font-style: normal
     font-weight: bold
}
@font-face {
     font-family: "Ubuntu";
     src: local("Ubuntu"), url("/static/clean/ubuntu/Ubuntu-Italic.tff");
     font-style: italic
     font-weight: normal
}
@font-face {
     font-family: "Ubuntu";
     src: local("Ubuntu"), url("/static/clean/ubuntu/Ubuntu-BoldItalic.ttf");
     font-style: italic
     font-weight: bold
}

@font-face {
     font-family: "Open Sans";
     src: local("Open Sans"), local("Open Sans Regular"), url("/static/clean/open_sans/OpenSans-Regular.ttf");
     font-style: normal
     font-weight: normal
}
@font-face {
     font-family: "Open Sans";
     src: local("Open Sans"), url("/static/clean/open_sans/OpenSans-Bold.ttf");
     font-style: normal
     font-weight: bold
}
@font-face {
     font-family: "Open Sans";
     src: local("Open Sans"), url("/static/clean/open_sans/OpenSans-Italic.ttf");
     font-style: italic
     font-weight: normal
}
@font-face {
     font-family: "Open Sans";
     src: local("Open Sans"), url("/static/clean/open_sans/OpenSans-BoldItalic.ttf");
     font-style: italic
     font-weight: bold
}

body{
	font-family: "Ubuntu", "Open Sans", sans-serif!important;
}

/* Cores de fundo da palheta da empresa */

.bg-azul-clean{
	background-color: #376cd1!important;
}

.bg-amarelo-clean{
	background-color: #ffc107!important;
}

.bg-verde-clean{
	background-color: #70AD47!important;
}

/* Cores de texto na platheta da empresa*/

.text-azul-clean{
	color: #376cd1!important;
}

.text-amarelo-clean{
	color: #ffc107!important;
}

.text-verde-clean{
	color: #70AD47!important;;
}

.text-marrom-clean{
	color: #964b00!important;
}

/* Navs com azul da clean*/
.nav-item .nav-link{
	color: #376cd1;
}
.nav-item .nav-link .active{
	color: #000000!important;
}

/* Ocupar todo tamanho vertical */

.full-height{
	min-height: calc(100vh - 80px);
}
/* Cards de carousel de economia */
.hg-150{

	height: 100px;
}
